TELEGRAM_API_ID=24029590
TELEGRAM_API_HASH=f8937fb1b7032e3c471ccfddccc44cbc
TELEGRAM_PHONE=+79209541497

POLZA_AI_API_KEY=ak_IUp-ISYVuefO6YeO_CtEBHm7AS1QVAO7n_QxSftVB0U
POLZA_API_BASE=https://api.polza.ai/api/v1
POLZA_MODEL=deepseek/deepseek-r1-distill-llama-70b

TELEGRAM_BOT_TOKEN=8239257788:AAGIM6iWNMn-likHC7CabGgaFOjmsWePQvs
TELEGRAM_BOT_CHAT_ID=7836566387

DATABASE_PATH=database.db

# Интервал опроса каналов в минутах
POLL_INTERVAL_MINUTES=30
# Для тестов можно задать секунды (перекрывает минуты)
POLL_INTERVAL_SECONDS=1

